{
    "env": {
        "browser": true
    },
    "rules": {
        "eqeqeq": 1,
        "strict": 0,
        "quotes": [1, "single"],
        "camelcase": 0,
        "consistent-return": 0,
        "no-mixed-requires": 0,
        "no-multi-spaces": 0
    }
}