[user]
	name = Marcus Zanona
	email = zanona@me.com
[mergetool]
	keepBackup = false
[core]
  editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[difftool]
	prompt = false
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
