[user]
	name = Marcus Zanona
	email = marcus@zanona.co
[mergetool]
	keepBackup = false
[core]
  editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[difftool]
	prompt = false
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	lcommit = -zco user.name=\"Z&Co\" -c user.email=\"hi@zanona.co\" commit --reset-author
[merge]
	tool = vimdiff
