[user]
	name = Marcus Zanona
	email = marcus@zanona.co
	signingkey = AB8BB9581AB0CA25
[commit]
	gpgsign = true
[gpg]
	program = gpg

[mergetool]
	keepBackup = false
[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = store
[difftool]
	prompt = false
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	fpush = !git add --all && git commit --amend --no-edit --no-verify && git push -f
	lcommit = -zco user.name=\"Z&Co\" -c user.email=\"hi@zanona.co\" commit --reset-author
	include = update-index --no-assume-unchanged
	skip = update-index  --assume-unchanged
	size = count-objects -vH
	compress = !git reflog expire --all --expire=now && git gc --prune=now --aggressive && git size
	clone-latest = "!cd -- ${GIT_PREFIX:-.}; git clone --depth=1 git@github.com:$1.git #"
	clone-branches = "!git branch -r | grep $1 | sed 's/origin\\///' | xargs -n1 -I % git checkout % #"
	delete-branches  = "!git branch -l | grep $1 | xargs -n1 -I % git branch -D % #"
	last-commit = "!git branch -r --sort=-committerdate | grep $1 | xargs -n1 git log -1 --decorate --oneline | grep -v 'skip ci' #"
	check-conflicts = "!git branch -r --sort=-committerdate | grep $1 | xargs -I % sh -c 'git diff --check > /dev/null % && echo [OK] % || echo [CONFLICT] %' #"
	merge-branches = "!git branch -r --sort=-committerdate | grep $1 | grep -v ${2:-__} | xargs git merge #"
[merge]
	tool = vimdiff
[pull]
	rebase = true
