/** material firefox imports
 * source: https://github.com/muckSponge/MaterialFox/
 **/
@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";
@import "findbar/findbar.css";

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar { visibility: collapse !important; }

#nav-bar { opacity: 1; }
#urlbar:not(.megabar)[focused="true"] { outline: none !important; }
#urlbar:not(.megabar)[focused="true"] { border-width: 0 !important; }

/* apply dark background when page is about to load */
@-moz-document url(chrome://browser/content/browser.xhtml) {
  #main-window,
  browser[type="content-primary"],
  browser[type="content"],
  tabbrowser#content,
  #content,
  browser[type="content"] > html { background: black !important; }
}

#sidebar-box { background-color: black !important; }
#sidebar-box #sidebar-header { visibility: collapse; }
#sidebar-splitter { display: none !important; }

/* Tweaks to Tab center Reborn extension */
#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] {
    overflow: hidden;
    min-width: 36px;
    max-width: 36px;
    position: fixed;
    transition: all 0.2s ease;
    z-index: 2
}

@-moz-document url("chrome://global/content/alerts/alert.xhtml") {
	#alertBox {
		border-color: rgba(107,107,107,0) !important;
		/*border-radius: 10px;*/
		background: url("chrome://global/skin/media/imagedoc-darknoise.png") !important;
		color: #CECECE !important;
		/*opacity: 0.5;*/
	}
	#alertBox[animate] {
		animation-duration: 4s !important;
	}
	#alertSettings {
		-moz-context-properties: fill, fill-opacity !important;
		padding: 3px !important;
		margin: 0px 2px -3px 0px !important;
		color: inherit !important;
		border-radius: 2px !important;
		transform: scale(0.91, 0.91) !important;
	}
	#alertSettings:hover,
	#alertSettings[open] {
		background-color: rgba(215, 215, 215, 0.1) !important;
	}
}
