@-moz-document domain(duckduckgo.com) {
    html,
    body,
    .site-wrapper,
    .header-wrap,
    .search--header,
    .acp-wrap { background-color: black !important; }
    .header-wrap { box-shadow: none !important; }
    .search-filters-wrap::before,
    .search-filters-wrap::after { content: none !important; }
}

@-moz-document domain(app.asana.com) {
    .Board, .Sidebar, .AsanaPageTopbar { user-select: none !important; }
    .TabNavigationBar-list li:nth-child(n+3),
    .TopbarPageHeaderStructure-titleRightElement,
    .TopbarPageHeaderStructure-icons,
    .ProjectHeaderFacepile-joinOrShareButton,
    .SidebarTopNavLinks-myPortfoliosbutton,
    .SidebarTopNavLinks-goalsButton,
    .SidebarReports,
    .Sidebar-browseMoreTeams,
    .SidebarInvite,
    .SidebarTeamsList,
    .SidebarCollapsibleHeader,
    .SidebarFavoritesAndMore-showMoreOrLessButton,
    .SidebarFavoritesAndMore-favoritesSection,
    .UpgradeButton,
    .FeatureStageIndicator,
    .DateRangeV2-addDateRangeUpsell,
    .SidebarInvite--stickyInvite.Sidebar-stickyInvite,
    .TopbarSettingsMenu-upgrade,
    .AutomationSection,
    .ProjectMembersDialogPrivacyStatus-upgradeButton
    { display: none !important; }
}
